
.text-area .scroll-bar:vertical:disabled {
    -fx-opacity: 0;
}

.system-info{
    -fx-font-family: 'JetBrains Mono NL';
    -fx-font-size: 14;
    -fx-text-fill: #212121;
}

.logo-View{
    -fx-fit-to-width: 300px;
    -fx-fit-to-height: 355px;
}

.link-howToPlay{
    -fx-font-size: 18;
    -fx-text-fill: #fff;
}

.username-textField{
    -fx-max-width: 330;
    -fx-pref-height: 35;
    -fx-border-radius: 6 6 6 6;
    -fx-background-radius: 6 6 6 6;
    -fx-alignment: center;
}

.btn-start{
    -fx-background-color: #5cb85c;
    -fx-font-weight: bold;
    -fx-pref-width: 330;
    -fx-text-fill: #fff;
    -fx-pref-height: 40;
    -fx-font-size: 16;
    -fx-font-family: 'JetBrains Mono NL';
    -fx-border-radius: 6 6 6 6;
    -fx-background-radius: 6 6 6 6;
}

.btn-start:hover{
    -fx-background-color: #449D44;
    -fx-font-weight: bold;
    -fx-text-fill: #fff;
    -fx-pref-width: 330;
    -fx-pref-height: 40;
    -fx-font-size: 16;
    -fx-font-family: 'JetBrains Mono NL';
    -fx-border-radius: 6 6 6 6;
    -fx-background-radius: 6 6 6 6;
}

.startSection{
    -fx-spacing: 10;
    -fx-pref-height: 700;
    -fx-pref-width: 1350;
    -fx-alignment: center;
    -fx-background-color: #ECEFF1;
}

.wordToGuess-label{
    -fx-pref-height: 25;
    -fx-text-fill: #212121;
    -fx-font-weight: bold;
    -fx-font-size: 18;
    -fx-font-family: 'JetBrains Mono Medium';
    -fx-padding: -25 0 0 0;
}

.users-textarea{
    -fx-alignment: center;
    -fx-max-width: 270;
    -fx-pref-height: 260;
    -fx-background-color: #262626;
    -fx-control-inner-background: #262626;
    -fx-font-weight: bold;
    -fx-text-fill: #fff;
    -fx-font-size: 14;
    -fx-font-family: 'JetBrains Mono Medium';
    -fx-border-radius: 8 8 8 8;
    -fx-background-radius: 8 8 8 8;
    -fx-faint-focus-color: transparent;
    -fx-padding: 10;
}

.users-textarea .content {
    -fx-background-radius: 0 ;
    -fx-background-color: #262626;
}

.chatSection-textarea{
    -fx-pref-height: 540;
    -fx-pref-width: 300;
    -fx-focus-color: transparent;
    -fx-text-box-border: transparent;
    -fx-font-weight: bold;
    -fx-background-color: #212121;
    -fx-control-inner-background: #212121;
    -fx-text-fill: #fff;
    -fx-font-size: 14;
    -fx-font-family: 'JetBrains Mono Medium';
    -fx-border-radius: 8 8 8 8;
    -fx-background-radius: 8 8 8 8;
    -fx-faint-focus-color: transparent;
    -fx-padding: 0 0 0 15;
}

.chatSection-textarea .content {
    -fx-background-radius: 0 ;
    -fx-background-color: #212121;
}

.chatField-textField{
    -fx-pref-height: 40;
    -fx-background-color: #262626;
    -fx-font-weight: bold;
    -fx-text-fill: #fff;
    -fx-border-radius: 8 8 8 8;
    -fx-background-radius: 8 8 8 8;
}

.rightPane-style{
    -fx-pref-height: 620;
    -fx-alignment: center;
    -fx-background-color: #212121;
    -fx-border-radius: 8 8 8 8;
    -fx-background-radius: 8 8 8 8;
}

.roundsLabel-style{
    -fx-font-weight: bold;
    -fx-font-size: 18;
    -fx-alignment: center;
    -fx-text-fill: #ECEFF1;
}

.marginCanvas-style{
    -fx-alignment: center;
}

.leftPane-style{
    -fx-background-color: #212121;
    -fx-border-radius: 8 8 8 8;
    -fx-background-radius: 8 8 8 8;
    -fx-pref-width: 300;
}

.btnClear{
    -fx-background-color: #262626;
    -fx-border-radius: 8 8 8 8;
    -fx-background-radius: 8 8 8 8;
}

.btnClear:hover{
    -fx-background-color: #B1B1B1;
    -fx-border-radius: 8 8 8 8;
    -fx-background-radius: 8 8 8 8;
}

.utility-btnSection{
    -fx-alignment: center;
    -fx-spacing: 20
}

.colorSection1-style{
    -fx-spacing: 10;
    -fx-alignment: center
}

.btn-Red{
    -fx-background-color: #d00000;
    -fx-pref-height: 30;
    -fx-pref-width: 30
}

.btn-Black{
    -fx-background-color: #000000;
    -fx-pref-height: 30;
    -fx-pref-width: 30
}

.btn-Blue{
    -fx-background-color: #1440ee;
    -fx-pref-height: 30;
    -fx-pref-width: 30
}

.btn-Pink{
    -fx-background-color: #af09bd;
    -fx-pref-height: 30;
    -fx-pref-width: 30
}

.btn-Yellow{
    -fx-background-color: #f6ff00;
    -fx-pref-height: 30;
    -fx-pref-width: 30
}

.btn-Orange{
    -fx-background-color: #ff9b42;
    -fx-pref-height: 30;
    -fx-pref-width: 30
}

.btn-Green{
    -fx-background-color: #057955;
    -fx-pref-height: 30;
    -fx-pref-width: 30
}

.btn-Purple{
    -fx-background-color: #460fe7;
    -fx-pref-height: 30;
    -fx-pref-width: 30
}

.btn-ClearCanvas{
    -fx-background-color: #262626;
    -fx-font-weight: bold;
    -fx-text-fill: #fff;
    -fx-border-radius: 8 8 8 8;
    -fx-background-radius: 8 8 8 8;
}

.btn-ClearCanvas:hover{
    -fx-background-color: #B1B1B1;
    -fx-font-weight: bold;
    -fx-text-fill: #212121;
    -fx-font-family: 'JetBrains Mono NL';
    -fx-border-radius: 8 8 8 8;
    -fx-background-radius: 8 8 8 8;
}

.scoreLabel-style{
    -fx-font-weight: bold;
    -fx-font-size: 18;
    -fx-text-fill: #fff;
    -fx-alignment: center;
    -fx-padding: 0 0 -20 -25;
}



